
body{
padding: 0;
margin: 0;
background: linear-gradient(to right, #00AAFF, #00FF6C);
}

.container{
    text-align: center;
    margin-top: 4rem;
}
table{
    margin: auto;
    
}
input{
    font-size: 34px;
    width: auto;
}
button{
    border-radius: 2px;
    font-size: 23px;
    cursor: pointer;
    outline: none;
    width: 101px;
    height: 80px;
    border: 1px solid white;
    background-color: rgba(255, 255, 255, .75);
}
button:hover{
    background-color: white;
}
.calculator{
    display: inline-block;
    background: #e012be;
}


